body {
    background-color: lightblue;
}

#img {
    /*display: inline-block;*/
    height: 400px;
    margin: 0 auto;
    text-align: center;display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#landingPage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



#stop {
    display: block;
    text-align: center;
    margin: 10px auto;
}
