body{
    margin: 0 auto;
    background-image: url("https://image.freepik.com/free-photo/italian-foods-concept-menu-design-pasta-with-ingredients-white-background_35641-165.jpg");
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
}

.container {
    width: 500px;
    margin: 0 auto;
    text-align: center;
    padding: 100px 0px;
    font-family: Arial, Helvetica, sans-serif;
}

.slide {
    width: 400px;
    height: 400px;

}


.slideshow{
    display: flex;
    width: 500px;
    margin: 0 auto;
    text-align: center;
    padding: 100px 0px;
    font-family: Arial, Helvetica, sans-serif;
}

.refresh {
    display: flex;
    margin: 0 auto;
    text-align: center;
}