body {
    height: 100vh;
}

body, form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


input {
    margin: 10px;
}

.displayed-image {
    height: 150px;
    width: 150px;
}

#stopBtn {
    display: none;
    margin-top: 15px;
}
