*{
    background: #4d4e4f;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: white;
}

#input{
    background: white;
    color: black;
    width: 200px;
    height: 30px;
}

#submit{
    background: lightblue;
    color: black;
    width: 100px;
    height: 30px;
}

.hidden{
    display: none;
}