*,*::before,*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Dev Classes */
.display-none {
    display: none;
}

.border-blue {
    border: 1px solid blue;
}

/* Style */

body {
    background-image: url("./images/background-img.png");
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.overlay {
    background-color:whitesmoke;
    opacity: 60%;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 70%;
    z-index: 1;
}

#title-container, main {
    z-index: 999;
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#title-container {
    margin: 10rem auto 0 auto;
}

#title {
    font-family: 'Squada One', cursive;
    font-size: 4.2rem;
    margin: 10rem auto 0.5rem auto;
}

#description {
    font-family: 'Exo 2', sans-serif;
    font-size: 1.2rem;
    margin: 0 auto 0.5rem auto;
}

#form-container,#form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

input[type=text] {
    border: none;
    border-radius: 0.3rem;
    padding: 0.8rem;
    width: 40%;
    margin: -7rem auto 0.5rem auto;
    font-family: 'Exo 2', sans-serif;
    font-size: 1rem;
}

input[type=submit] {
    border: none;
    border-radius: 0.3rem;
    font-family: 'Exo 2', sans-serif;
    font-size: 1.2rem;
    font-weight: 500;
    padding: 0.8rem;
    background-color: rgb(190,224,221);
    /* background-color: rgb(96,170,187); */
    color: black;

}

input[type=submit]:hover{
    background-color: rgb(96,170,187);
    color: white;
    box-shadow: 1px 1.5px 1px 1px rgba(0,0,0,0.3);
    cursor: pointer;

}


#credit {
    font-family: 'Exo 2', sans-serif;
    font-size: 0.6rem;
    z-index: 999;
    margin: 15rem auto 0 auto;
}

a:link, a:visited {
    text-decoration: none;
    color: black;
}

img {
    width: 50%;
}

/* Fade-in animation */

  .fadeIn {
    animation: fadeIn ease 2s;
    -webkit-animation: fadeIn ease 2s;
    -moz-animation: fadeIn ease 2s;
    -o-animation: fadeIn ease 2s;
    -ms-animation: fadeIn ease 2s;
    }
    @keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
    }
    
    @-moz-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
    }
    
    @-webkit-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
    }
    
    @-o-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
    }
    
    @-ms-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
    }